.newsletter{
    &__input{
        all: unset;
        background-color: transparent !important;
        font-family: 'Quicksand';
        color: white;

        width:90%;

        border-right: 1px solid white;
        margin-block: .3rem;
        padding-left: 1rem;

        &:focus-visible{
            outline: none !important;
        }
    }
}